<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buscar Falecido</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>
<body>
<div class="container-cadastro">
    <div class="container">

        
    <h2>Buscar Falecido por ID</h2>

    <form method="get" th:action="@{/deaduser/buscar}">
        <label>ID do Falecido:</label>
        <input type="text" name="idDeadUser" required><br>
        <button type="submit">Buscar</button>
    </form>

    <div th:if="${deadUser != null}" th:object="${deadUser}">
        <h3>Falecido Encontrado:</h3>
        <p><strong>Nome:</strong> <span th:text="*{name}"></span></p>
        <p><strong>Descrição:</strong> <span th:text="*{description}"></span></p>
        <p><strong>Coveiro:</strong> <span th:text="*{gravedigger}"></span></p>
        <p><strong>Setor:</strong> <span th:text="*{fksector}"></span></p>
        <p><strong>ID do Usuário:</strong> <span th:text="*{fkuser}"></span></p>
    </div>

    <p th:if="${erro}" th:text="${erro}" style="color:red;"></p>
    </div>
</div>
</body>
</html>
