<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Setores</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>
<body>
  
        <header>
        <h1>Gestão de Setores</h1>
        </header>   
        <nav>
            <a th:href="@{/sector/novo}">Cadastrar Novo Setor</a>
            <a th:href="@{/sector/pesquisa}">Buscar Setor</a>
            <a th:href="@{/sector/Atualiza}">Atualizar Setor</a>
            <a th:href="@{/sector/Exluirsector}">Excluir Setor</a>
            <a th:href="@{/}">Voltar à Tela Inicial</a>
        </nav>
        <footer>
        <p>&copy; 2025 Meu Site. Todos os direitos reservados.</p>
        </footer>
  
</body>
</html>
